/* RESET */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;   /* IMPORTANT */
  overflow-x: hidden;
}


/* MAIN CONTENT */
.page {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-top: 80px;        /* navbar height */
}

/* OPTIONAL: make sure navbar/footer don't hide canvas */
/*app-navbar,*/
app-footer {
  position: relative;
  z-index: 2;
  background: transparent;
}
