<nav class="navbar">
  <div class="nav-container">

    <!-- LOGO -->
    <a routerLink="/" class="logo">
      {{ fname }}.code
    </a>

    <!-- HAMBURGER (MOBILE) -->
    <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- NAV LINKS -->
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/Experience" routerLinkActive="active" (click)="closeMenu()">Experience</a></li>
      <li><a routerLink="/Skills" routerLinkActive="active" (click)="closeMenu()">Skills</a></li>
      <li><a routerLink="/Education" routerLinkActive="active" (click)="closeMenu()">Education</a></li>
      <li><a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
    </ul>

  </div>
</nav>
